<a href="https://colab.research.google.com/github/yuvrajdeora26/Yuvraj-Singh-/blob/main/Assignment_Module_4_(pratical).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [8]:
L = [1,2,3,4,5,6,7,8,9,10,11]
def even(L):
  sum = 0
  for i in L:
    if i%2 == 0:
      sum = sum + i
  return sum

In [9]:
even(L)

30

2. Create a Python function that accepts a string and returns the reverse of that string.

In [10]:
name = "yuvraj singh deora"

In [11]:
x = lambda a : a[ :: -1]

In [12]:
x(name)

'aroed hgnis jarvuy'

3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [13]:
num = [3,4,5,6,7,8,9,10,11]
list(map(lambda x : x**2,num))

[9, 16, 25, 36, 49, 64, 81, 100, 121]

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [1]:
def is_prime(num):
  if num <= 1:
    return False
  if num <= 3:
    return True
  if num % 2 == 0 or num % 3 == 0:
    return False
  i = 5
  while i * i <= num:
    if num % i == 0 or num % (i + 2) == 0:
      return False
    i = i + 6
  return True

# Check for prime numbers from 1 to 200
for number in range(1, 201):
  if is_prime(number):
    print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [3]:
def fib(n):
  a=0
  b=1
  for i in range(n):
    print(a)
    a,b = b , a+b

In [4]:
fib(10)

0
1
1
2
3
5
8
13
21
34

6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [5]:
def power(exponent):
  for i in range(exponent + 1):
    yield 2**i

In [6]:
power(4)
gen = power(4)
next(gen)

1

In [7]:
next(gen)

2

In [8]:
next(gen)

4

7. Implement a generator function that reads a file line by line and yields each line as a string.

In [2]:
f = open("your_file.txt", "w")
f.write("how are you\nwhat is your name\nwhere do yo live")
f.close()

In [3]:
def read_file(filename):
  with open(filename, 'r') as f:
    for line in f:
      yield line.strip()

In [4]:
for line in read_file('your_file.txt'):
     print(line)

how are you
what is your name
where do yo live

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [13]:
my_list = [('apple', 4), ('banana', 7), ('mango', 10)]
sorted_list = sorted(my_list, key=lambda x: x[1])

In [14]:
sorted_list

[('apple', 4), ('banana', 7), ('mango', 10)]

9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [15]:
celsius = [0, 10, 20, 30, 45, 54, 63]
fahrenheit = list(map(lambda x: (9/5)*x + 32, celsius))

In [16]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 113.0, 129.2, 145.4]

10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [1]:
string_name = "my name is yuvraj singh deora"
vowels = "aeiouAEIOU"
list(filter(lambda x : x not in vowels , string_name))

['m',
 'y',
 ' ',
 'n',
 'm',
 ' ',
 's',
 ' ',
 'y',
 'v',
 'r',
 'j',
 ' ',
 's',
 'n',
 'g',
 'h',
 ' ',
 'd',
 'r']

11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:







Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map.

In [5]:
def calculate_order_value(order):
    order_number, _, quantity, price_per_item = order
    total_price = quantity * price_per_item
    return (order_number, total_price + 10 if total_price < 100 else total_price)

# Sample data
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

# Using lambda and map

result = list(map(lambda order: calculate_order_value(order), orders))

print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]